.container {
  width: 100%;
  background-color: #000; 
 }
 #top {
   width: 100%;
   max-width: 980px;
   color: #fff;
   margin: 0 auto;
 }
 .content {
   width: 100%;
   max-width: 980px;
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 .actionsHome {
   width: 25%;
   
   display: flex;
   justify-content: space-evenly;
 }
 .actionsHome p {
   cursor: pointer;
 }